{% extends 'landing/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center">
        <div class="user_card">
            <legend class="d-flex justify-content-center">LOGGED OUT</legend>
            <div class="d-flex justify-content-center">
                <div class="border-top pt-2" style="text-align:center">
                    <small class="text-muted">
                        Log in again? <a class="justify-content-center" href="{% url 'login' %}">Log In</a>
                    </small>
                </div>
            </div>
        </div>
    </div>
    <script>
        setTimeout(function() {
            window.location.href = "{% url 'login' %}";
        }, 10000);
    </script>
{% endblock %}
