{% extends 'landing/base.html' %}
{% load static %}
{% block content %}
    {% load crispy_forms_tags %}
    <title>{{ title }}</title>
    <div class="container">
        <div class="card card-body">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <form method="POST">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="d-flex justify-content-center" style="color: #f06161;">Add City</legend>
                                {{ form | crispy }}
                                <div class="form-group">
                                    <button class="btn btn-outline-info" type="submit">Add</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </article>
        </div>
    </div>
{% endblock %}
