{% extends 'landing/base.html' %}
{% block content %}
    {% load auth_extras %}
    {% load crispy_forms_filters %}
    <style>
    /* Styl CSS */
    .container {
      width: auto;
      margin: 20px auto;
      background: #f8f9fa;
      position: relative;
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 10px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
      border-radius: 5px;
    }

    .centered {
      margin: 20px;
      text-align: center;
    }

    .table-submit {
      margin-top: 20px;
    }

    /* Styl formularza */
    .form-group {
      margin-bottom: 20px;
    }

    .form-group label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .form-group input[type="text"],
    .form-group select {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }

    .form-group select {
      /* Dodaj ewentualne style dla selecta */
    }

    .form-group input[type="text"]:focus,
    .form-group select:focus {
      outline: none;
    }
    </style>
    <div class="container">
        <div class="card card-body">
            <h2 class="centered">POSITIONS</h2>
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3">
                    <fieldset class="form-group">
                        <form method="GET" action="{% url 'positions-list' %}">
                            {{ form | crispy }}
                            <div>
                                <button class="btn btn-outline-info" type="submit">Submit</button>
                            </div>
                        </form>
                    </fieldset>
                </div>
                <div class="col-md-9">
                    <!-- Tabela -->
                    <table class="table table-submit">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Level</th>
                                <th>Department</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for position in positions %}
                                <tr>
                                    <td>{{ position.title }}</td>
                                    <td>{{ position.get_level_display }}</td>
                                    <td>{{ position.department }}</td>
                                    <td>
                                        <form method="POST" action="{% url 'positions-delete' position.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">DELETE</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
