{% extends "landing/base.html" %}
{% load static %}
{% load auth_extras %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <style>
        .legend-heading {
        color: #f06161;
        }
        .btn-outline-info {
            width: 175px;
        }
        .btn-outline-secondary {
            width: 175px;
        }
    </style>
    <body>
        <div class="container">
            <div class="card card-body">
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <form method="post">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4 legend-heading">Add New Position</legend>
                                    {{ form | crispy }}
                                </fieldset>
                                <div class="form-group">
                                    <button class="btn btn-outline-info add-button" type="submit">Add</button>
                                    <div class="float-right">
                                        {% if request.user|has_group:"Owner" or request.user.is_superuser %}
                                            <a class="btn btn-outline-secondary"
                                               href="{% url 'department-create' %}">Add Department</a>
                                        {% endif %}
                                        <a class="btn btn-outline-secondary" href="{% url 'positions-list' %}">View Positions</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </body>
{% endblock content %}
