{% extends 'landing/base.html' %}
{% block content %}
    {% load auth_extras %}
    {% load crispy_forms_filters %}
    <style>
      .container-positions {
        width: 80%;
        margin: 20px auto;
        background: #f8f9fa;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
      }

      .table-submit {
        width: 100%;
        table-layout: fixed;
        }

      .table-submit th,
      .table-submit td {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        }
    </style>
    <div class="container-positions">
        <div class="card card-body">
            <h2 class="centered" style="color: #f06161;">POSITIONS</h2>
            {% csrf_token %}
            <div class="row">
                <div class="col-md-3">
                    <fieldset class="form-group">
                        <form method="GET" action="{% url 'positions-list' %}">
                            {{ form | crispy }}
                            <div>
                                <button class="btn btn-outline-info" type="submit">Submit</button>
                            </div>
                        </form>
                    </fieldset>
                </div>
                <div class="col-md-9">
                    <table class="table table-submit">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Level</th>
                                <th>Department</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for position in positions %}
                                <tr>
                                    <td>{{ position.title }}</td>
                                    <td>{{ position.get_level_display }}</td>
                                    <td>{{ position.department }}</td>
                                    <td>
                                        <form method="POST" action="{% url 'positions-delete' position.id %}">
                                            {% csrf_token %}
                                            <button type="submit" class="btn btn-danger">DELETE</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
