{% extends "landing/base.html" %}
{% load crispy_forms_tags %}
{% load auth_extras %}
{% block title %}
    {{ title }}
{% endblock title %}
{% load bootstrap4 %}
{% block content %}
    {{ form.media }}
    <style>
    .btn-outline-secondary {
        width: 175px;
    }
    .btn-outline-info {
        width: 175px;
    }
    .legend-heading {
    color: #f06161;
    }
    </style>
    <div class="container">
        <div class="card card-body">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <form method="post">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="legend-heading border-bottom mb-4">
                                    {% if request.path == '/recruitment/job-offers/create' %}
                                        Create
                                    {% else %}
                                        Update
                                    {% endif %}
                                    Job Offer
                                </legend>
                                {{ form.position | as_crispy_field }}
                                {{ form.description | as_crispy_field }}
                                {{ form.country | as_crispy_field }}
                                {{ form.city | as_crispy_field }}
                                {{ form.expiry_date | as_crispy_field }}
                                {% if not request.path == '/recruitment/job-offers/create' %}{{ form.status | as_crispy_field }}{% endif %}
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">
                                    {% if request.path == '/recruitment/job-offers/create' %}
                                        Publish
                                    {% else %}
                                        Update
                                    {% endif %}
                                </button>
                                <div class="float-right">
                                    <a class="btn btn-outline-secondary" href="{% url 'positions-create' %}">Add New Position</a>
                                    <a class="btn btn-outline-secondary" href="{% url 'city-create' %}">Add New City</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </article>
        </div>
    </div>
{% endblock content %}
{% block javascript %}
    <script>
    document.addEventListener("DOMContentLoaded", function () {
        function updateCities(country) {
            $.ajax({
                url: "{% url 'load-cities' %}",
                data: {
                    'country': country
                },
                success: function (data) {
                  if (data.length === 0) {
                    $("#id_city").html(`<option value="">---------</option>`);
                } else {
                    $("#id_city").html(data.map(city => `<option value="${city.id}">${city.name}</option>`));
                }
                }
            });
        }
        $("#id_country").change(function () {
            var selectedCountry = $(this).val();
            updateCities(selectedCountry);
        });
        updateCities('Poland')
    });
    </script>
{% endblock javascript %}
