{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% load auth_extras %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
        <style>
        .file-input input[type="file"] {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .file-input .btn {
            background-color: #f06161; !important;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
        </style>
        <div class="container">
            <div class="card card-body">
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <form method="post" id="myform" enctype="multipart/form-data">
                                {% csrf_token %}
                                <fieldset class="form-group">
                                    <legend class="border-bottom mb-4">
                                        <span style="color: #f06161;">Applying for {{ job_offer }}</span>
                                    </legend>
                                    <div class="form-group">{{ form.first_name | as_crispy_field }}</div>
                                    <div class="form-group">{{ form.last_name | as_crispy_field }}</div>
                                    <div class="form-group">{{ form.phone_number | as_crispy_field }}</div>
                                    <div class="form-group">{{ form.email | as_crispy_field }}</div>
                                    <div class="form-group">{{ form.expected_salary | as_crispy_field }}</div>
                                    <div class="form-group">{{ form.consent_processing_data | as_crispy_field }}</div>
                                    <div class="file-input">
                                        <input type="file" name="cv" id="cv" accept=".pdf" required>
                                        <label for="cv" class="btn">Choose PDF File (CV)</label>
                                    </div>
                                    <div class="file-name" id="file-name"></div>
                                </fieldset>
                                <div class="form-group">
                                    <button class="btn btn-outline-info" type="submit">Apply</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </article>
            </div>
        </div>
        <script>
        document.getElementById("pdf_file").addEventListener("change", function () {
            const fileName = this.value.split("\\").pop();
            document.getElementById("file-name").textContent = "Selected File: " + fileName;
        });
        </script>
{% endblock %}
