{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% load auth_extras %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="centered">
        <a class="centered" href="{% url 'job-offers' %}">
            <button class="btn btn-outline-info" type="submit">Go back to other job offers!</button>
        </a>
    </div>
    <div class="container">
        <div class="card card-body">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mb-5" href="#">{{ object.position.title }} ({{ object.position.get_level_display }}) - {{ object.city }}</a>
                    </div>
                    <div>
                        <small class="text-muted">Company: {{ object.company }}</small>
                    </div>
                    <div>
                        <small class="text-muted">Offer posted: {{ object.published_date }}</small>
                    </div>
                    <br>
                    <div class="card-group m-0">
                        <p class="article-content">{{ object.description }}</p>
                    </div>
                    <br>
                    {% if object.status == True %}
                        <div class="mb-2">
                            <small class="text-muted">Recruitment ends: {{ object.expiry_date }}</small>
                        </div>
                        {% if perms.recruitment.change_joboffer %}
                            <div class="card-group m-0">
                                <a href="{% url 'job-offer-update' job_offer.id %}">
                                    <button class="btn btn-outline-info" type="submit">Modify job offer!</button>
                                </a>
                            </div>
                        {% else %}
                            {% if user_application is False %}
                            <div class="card-group m-0">
                                <a href="{% url 'job-offer-apply' job_offer.id %}">
                                    <button class="btn btn-outline-info" type="submit">Submit your CV!</button>
                                </a>
                            </div>
                            {% else %}
                                <small class="alert-danger">You have already applied for this job offer.</small>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    {% if object.status == False %}
                        <div class="card-group m-2">
                            <small class="alert-danger">Recruitment closed</small>
                        </div>
                        {% if perms.recruitment.change_joboffer %}
                            <div class="card-group m-0">
                                <a href="{% url 'job-offer-update' job_offer.id %}">
                                    <button class="btn btn-outline-info" type="submit">Modify job offer!</button>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </article>
        </div>
    </div>
{% endblock %}
