{% extends 'landing/base.html' %}
{% load static %}

{% block content %}
    <title>{{ title }}</title>

    <style>
        .container {
            width: 80%;
            margin: 20px auto;
            background: #f8f9fa;
            padding: 20px;
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
                0 6px 5px 0 rgba(0, 0, 0, 0.19);
            border-radius: 5px;
        }

        .media-body {
            margin-left: 20px;
        }

        .form-group label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }

        .form-group input[type="text"],
        .form-group select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 16px;
        }

        .form-group select {
            /* Additional styles for select dropdown (if applicable) */
        }

        .form-group input[type="text"]:focus,
        .form-group select:focus {
            outline: none;
        }
        .asteriskField {
        display: none;
        }

    </style>

    <div class="container">
        <div class="card card-body">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <a class="mb-5" href="#">{{ object.position.title }} ({{ object.position.get_level_display }}) - {{ object.city }}</a>
                    </div>
                    <div>
                        <small class="text-muted">Company: {{ object.company }}</small>
                    </div>
                    <div>
                        <small class="text-muted">Offer posted: {{ object.published_date }}</small>
                    </div>
                    <div class="card-group m-2">
                        <p class="article-content">{{ object.description }}</p>
                    </div>
                    {% if object.status == True %}
                        <div class="mb-2">
                            <small class="text-muted">Recruitment ends: {{ object.expiry_date }}</small>
                        </div>
                        {% if perms.recruitment.change_joboffer %}
                            <div class="card-group m-0">
                                <a href="{% url 'job-offer-update' job_offer.id %}">
                                    <button class="btn btn-outline-info" type="submit">Modify job offer!</button>
                                </a>
                            </div>
                        {% else %}
                            <div class="card-group m-0">
                                <a href="{% url 'job-offer-apply' job_offer.id %}">
                                    <button class="btn btn-outline-info" type="submit">Submit your CV!</button>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if object.status == False %}
                        <div class="card-group m-2">
                            <small class="alert-danger">Recruitment closed</small>
                        </div>
                        {% if perms.recruitment.change_joboffer %}
                            <div class="card-group m-0">
                                <a href="{% url 'job-offer-update' job_offer.id %}">
                                    <button class="btn btn-outline-info" type="submit">Modify job offer!</button>
                                </a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </article>
        </div>
    </div>
{% endblock %}
