{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% load auth_extras %}
{% block content %}


<title>{{ title }}</title>

<style>
    .container {
        width: 600px;
        margin-top: 20px;
        margin-bottom: auto;
        background: #f8f9fa;
        position: relative;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 10px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
        -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
        -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.19);
        border-radius: 5px;
    }
</style>
    <body>
        <div class="container">
            <div class="card card-body">

<div class="content-section">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Profile info</legend>

            {{ form | crispy }}

        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </form>
</div>
{% endblock content %}
