{% load static %}
{% load auth_extras %}
<script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
        crossorigin="anonymous"></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">CloudStaffHub</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarNav"
                aria-controls="navbarNav"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                {% if not user.is_authenticated %}
                    {% url 'login' as login_url %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == login_url %}active{% endif %}"
                           aria-current="page"
                           href="{% url 'login' %}">Login</a>
                    </li>
                    {% url 'register' as register_url %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == register_url %}active{% endif %}"
                           aria-current="page"
                           href="{% url 'register' %}">Register</a>
                    </li>
                    {% url 'register-company' as register_company_url %}
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == register_company_url %}active{% endif %}"
                           aria-current="page"
                           href="{% url 'register-company' %}">Register Company</a>
                    </li>
                {% elif user.is_authenticated %}
                    {% url 'profile' as profile_url %}
                    <li>
                        <a class="nav-link {% if request.path == profile_url %}active{% endif %}"
                           aria-current="page"
                           href="{% url 'profile-update' request.user.profile.id %}">Profile</a>
                    </li>
                    {% if request.user|has_group:"Candidate" or request.user.is_superuser %}
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle"
                                        type="button"
                                        id="candidateDropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-expanded="false">Candidate</button>
                                <ul class="dropdown-menu" aria-labelledby="candidateDropdownMenuButton">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'dashboard-candidate' %}">Candidate's Dashboard</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'job-offers' %}">Job Offers</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                    {% if request.user|has_group:"Employee" or request.user|has_group:"Recruiter" or request.user|has_group:"Manager" or request.user|has_group:"Owner" or request.user.is_superuser %}
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle"
                                        type="button"
                                        id="employeeDropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-expanded="false">Employee</button>
                                <ul class="dropdown-menu" aria-labelledby="employeeDropdownMenuButton">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'dashboard-employee' %}">Employee's Dashboard</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'assignments' %}">Assignments</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                    {% if request.user|has_group:"Recruiter" or request.user|has_group:"Manager" or request.user|has_group:"Owner" or request.user.is_superuser %}
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle"
                                        type="button"
                                        id="recruiterDropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-expanded="false">Recruiter</button>
                                <ul class="dropdown-menu" aria-labelledby="recruiterDropdownMenuButton">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'dashboard-recruiter' %}">Recruiter's Dashboard</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'job-offers' %}">Job Offers</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'job-applications' %}">Job Applications</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                    {% if request.user|has_group:"Manager" or request.user|has_group:"Owner" or request.user.is_superuser %}
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle"
                                        type="button"
                                        id="managerDropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-expanded="false">Manager</button>
                                <ul class="dropdown-menu" aria-labelledby="managerDropdownMenuButton">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'dashboard-manager' %}">Manager's Dashboard</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                    {% if request.user|has_group:"Owner" or request.user.is_superuser %}
                        <li>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle"
                                        type="button"
                                        id="adminDropdownMenuButton"
                                        data-toggle="dropdown"
                                        aria-expanded="false">Company's Admin</button>
                                <ul class="dropdown-menu" aria-labelledby="adminDropdownMenuButton">
                                    <li>
                                        <a class="dropdown-item" href="{% url 'dashboard-owner' %}">Owner's Dashboard</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'department-list' %}">Company's Departments</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item"
                                           href="{% url 'company-profile' request.user.profile.company.id %}">Company's Profile</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" href="{% url 'employee-list' %}">Company's Employees</a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    {% endif %}
                    <form method="post" action="{% url 'logout' %}" id="logoutForm">
                        {% csrf_token %}
                        <li>
                            <a class="nav-link {% if request.path == logout_url %}active{% endif %}"
                               aria-current="page"
                               href="#"
                               onclick="document.getElementById('logoutForm').submit()">Logout</a>
                        </li>
                    </form>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
