{% extends "landing/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <style>
        .btn-outline-secondary {
            width: 175px;
        }
        .article-metadata
        {
            text-align: center;
        }
    </style>
    <div class="container">
        <div class="card card-body">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <legend class="border-bottom mb-4">Assignments List</legend>
                        {% if assignments %}
                            {% for assignment in assignments %}
                                <div class="event-box mb-3">
                                    <strong>{{ assignment }}</strong>
                                    <br>
                                    <small>Details: {{ assignment.description }}</small>
                                    <br>
                                    <small>Deadline: {{ assignment.event_date }}</small>
                                    <small>
                                        {% if assignment.is_past %}
                                            | Days over deadline:
                                        {% else %}
                                            | Days until deadline:
                                        {% endif %}
                                    {{ assignment.days_till }}</small>
                                    {% if assignment.manager is not None %}<small>| Assigned by {{ assignment.manager }}</small>{% endif %}
                                    <form method="post" action="{% url 'assignments-close' assignment.id %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-outline-dark">Mark as complete</button>
                                    </form>
                                </div>
                            {% endfor %}
                        {% else %}
                            <strong>No assignments...</strong>
                        {% endif %}
                    </div>
                </div>
            </article>
            <div class="form-group m-0 mt-4">
                <a class="btn btn-outline-secondary"
                   href="{% url "calendar" year month %}">Calendar</a>
                <div class="float-right">
                    <a class="btn btn-outline-secondary"
                       href="{% url "assignments-create" %}">Add Assignment</a>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
