{% extends 'users/base.html' %}
{% block content %}
    <title>Dashboard</title>
    <head>
    </head>
    <body>
        <div class="row">
            <div class="col-md-2">
                <div class="card card-body">
                <h1>Placeholder</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-body">
                <h1>Placeholder</h1>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
