{% extends 'landing/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="d-flex justify-content-center">
        <div class="user_card">
            <div class="d-flex justify-content-center">
                <form method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="d-flex justify-content-center">RESET PASSWORD</legend>
                        <div class="form-group" style="text-align: center">
                            <small class="text-muted">Forgot Your Password?</small>
                            <br>
                            <small class="text-muted">Please enter your personal email address below.</small>
                        </div>
                        <div class="input-group mb-1">
                            <input type="text"
                                   name="email"
                                   class="form-control"
                                   placeholder="Registration email...">
                        </div>
                    </fieldset>
                    <div class="form-group" style="text-align: center">
                        <button class="btn btn-outline-info" type="submit">Send email</button>
                    </div>
                    <div class="border-top pt-2" style="text-align: center">
                        <small class="text-muted">
                            Don't have an account yet? <a class="justify-content-center" href="{% url 'register' %}">Sign In</a>
                        </small>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
