{% extends "landing/base.html" %}
{% load static %}
{% block content %}
    {% load crispy_forms_tags %}
    {% load auth_extras %}
    {% block title %}
        {{ title }}
    {% endblock title %}
    <style>
        .btn-outline-info {
            width: 175px;
        }
        .legend-heading {
            color: #f06161;
        }
    </style>
    <body>
        <div class="container">
            <div class="card card-body">
                <article class="media content-section">
                    <div class="media-body">
                        <div class="article-metadata">
                            <legend class="legend-heading border-bottom mb-4">{{ poll }}</legend>
                            <div>
                                <form action="{% url 'poll-answer' poll.id %}" method="post">
                                    {% csrf_token %}
                                    {% for question, possible_answers in answers.items %}
                                        <label>{{ question }}</label>
                                        {% for answer in possible_answers %}
                                            <li>
                                                <input type="radio"
                                                       id="{{ forloop.parentloop.counter }}_{{ forloop.counter }}"
                                                       name="{{ question }}"
                                                       value="{{ answer.id }}">
                                                <label for="{{ forloop.parentloop.counter }}_{{ forloop.counter }}">{{ answer }}</label>
                                            </li>
                                        {% endfor %}
                                    {% endfor %}
                                    <br>
                                    <div class="form-group">
                                        <input type="submit" value="Send" class="btn btn-outline-info">
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </body>
{% endblock content %}
