{% extends "landing/base.html" %}
{% load crispy_forms_tags %}
{% load auth_extras %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <style>
    .btn-outline-info {
        width: 175px;
    }
    .legend-heading {
        color: #f06161;
    }
    .img-special {
        width: 100%;
    }
    </style>
    <div class="container">
        <div class="card card-body">
            <article class="media content-section">
                <div class="media-body">
                    <div class="article-metadata">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <fieldset class="form-group">
                                <legend class="legend-heading border-bottom mb-4">Update Company Info</legend>
                                <div class="row">
                                    <div class="col-md-3">{{ form.industries | as_crispy_field }}</div>
                                    <div class="col-md-9">
                                        <div style="text-align: center;">
                                            <div style="display: inline-block;">
                                                <img src="{{ object.company_logo.url }}"
                                                     alt="Company Logo"
                                                     class="company_logo img-special">
                                            </div>
                                        </div>
                                        <br>
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="company_logo">
                                            <label class="custom-file-label" for="company_logo">Pick New Logo</label>
                                        </div>
                                        {{ form.info | as_crispy_field }}
                                    </div>
                                </div>
                            </fieldset>
                            <div class="form-group">
                                <button class="btn btn-outline-info" type="submit">Update</button>
                            </div>
                        </form>
                    </div>
                </div>
            </article>
        </div>
    </div>
{% endblock content %}
