{% extends "landing/base.html" %}
{% load crispy_forms_tags %}
{% load auth_extras %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <style>
        .legend-heading {
        color: #f06161;
        }
        .btn-container a {
            margin-right: 10px;
            width: 75px;
            display: inline-block;
            text-align: center;
            line-height: 1;
        }
    </style>
    <div class="container">
        <div class="card card-body">
            <div class="content-section">
                <div class="media">
                    <img src="{{ object.user.profile.profile_pic.url }}"
                         width="100"
                         height="100"
                         alt="Profile Picture"
                         class="profile-picture">
                    <div class="media-body">
                        <br>
                        <h2 class="account-heading">{{ object.user.first_name }} {{ object.user.last_name }}</h2>
                        <p class="text-secondary">{{ object.user.email }}</p>
                    </div>
                    {% if request.user.profile.company == object.user.profile.company %}
                        {% if request.user|has_group:"Owner" or request.user.is_superuser %}
                            <div class="btn-container">
                                <a class="btn-light"
                                   href="{% url 'profile-update' object.user.profile.id %}">UPDATE</a>
                                <a class="btn-light"
                                   href="{% url 'profile-edit' object.user.profile.id %}">EDIT</a>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                <br>
                <legend class="legend-heading border-bottom mb-4">User Info</legend>
                <p>
                    <strong>Phone Number:</strong>
                    {% if profile.phone_number %}
                        {{ profile.phone_number }}
                    {% else %}
                        No information has been provided...
                    {% endif %}
                </p>
                <p>
                    <strong>Department:</strong>
                    {% if profile.department %}
                        {{ profile.department }}
                    {% else %}
                        No information has been provided...
                    {% endif %}
                </p>
                {% if request.user|has_group:"Candidate" %}
                    <p>
                        <strong>Interested In:</strong>
                        {% if profile.interested_in %}
                            {{ profile.interested_in }}
                        {% else %}
                            No information has been provided...
                        {% endif %}
                    {% endif %}
                </p>
                {% if not request.user|has_group:"Candidate" %}
                    <p>
                        <strong>Position:</strong>
                        {% if profile.position %}
                            {{ profile.position }}
                        {% else %}
                            No information has been provided...
                        {% endif %}
                    </p>
                    <p>
                        <strong>Company:</strong>
                        {% if profile.company %}
                            <a href="{% url 'company-profile' profile.company.id %}">{{ profile.company }}</a>
                        {% else %}
                            No information has been provided...
                        {% endif %}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock content %}
