{% extends "landing/base.html" %}
{% load crispy_forms_tags %}
{% load auth_extras %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <style>
    .legend-heading {
        color: #f06161;
    }

    .btn-outline-info {
        width: 175px;
    }

    .btn-outline-secondary {
        width: 175px;
    }

    .btn-container a {
        margin-right: 10px;
        width: 75px;
        display: inline-block;
        text-align: center;
        line-height: 1;
    }

    .container {
        display: flex;
        flex-direction: column;
    }

    .custom-file {
        margin-top: 5px;
        margin-bottom: 15px;
    }

    </style>
    <div class="container">
        <div class="card card-body">
            <div class="content-section">
                <div class="media">
                    <img src="{{ object.user.profile.profile_pic.url }}"
                         width="100"
                         height="100"
                         alt="Profile Picture"
                         class="profile-picture">
                    <div class="media-body">
                        <br>
                        <h2 class="account-heading">{{ object.user.first_name }} {{ object.user.last_name }}</h2>
                        <p class="text-secondary">{{ object.user.email }}</p>
                    </div>
                </div>
                <br>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        <legend class="legend-heading border-bottom mb-4">Profile Info</legend>
                        {{ form.phone_number | as_crispy_field }}
                        {% if request.user|has_group:"Candidate" %}
                            {{ form.interested_in | as_crispy_field }}
                            {{ form.department | as_crispy_field }}
                        {% endif %}
                        <strong>{{ form.profile_pic.label }}</strong>
                        <div class="custom-file">
                            <label class="custom-file-label" for="profile_pic">Update Profile Picture</label>
                            <input type="file" class="custom-file-input" name="profile_pic">
                        </div>
                        <button class="btn btn-outline-info" type="submit">Save Changes</button>
                        <div class="float-right">
                            <a class="btn btn-outline-secondary"
                               href="{% url 'profile' object.pk %}">Profile</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
