{% extends 'landing/base.html' %}
{% load crispy_forms_tags %}
{% load auth_extras %}
{% block title %}{{ title }}{% endblock %}
{% block content %}
    <div class="container">
        <div class="card card-body">
            <div class="content-section">
                <div class="media">
                    <img src="{{ object.user.profile.profile_pic.url }}"
                         alt="Profile Picture"
                         class="profile-picture">
                    <div class="media-body">
                        <br>
                        <h2 class="account-heading">{{ object.user.first_name }} {{ object.user.last_name }}</h2>
                        <p class="text-secondary">{{ object.user.email }}</p>
                    </div>
                    {% if user.company == object.user.company %}
                        {% if request.user|has_group:"Owner" or request.user.is_superuser %}
                            <a class="btn-light"
                               href="{% url 'profile-edit' object.user.profile.id %}">EDIT</a>
                        {% endif %}
                    {% endif %}
                </div>
                <br>
                <legend class="border-bottom mb-4">
                    <span style="color: #f06161;">User Info</span>
                </legend>
                <p>
                    <strong>Phone number:</strong> {{ profile.phone_number }}
                </p>
                <p>
                    <strong>Department:</strong> {{ profile.department }}
                </p>
                <p>
                    <strong>Interested In:</strong> {{ profile.interested_in }}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
