{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CloudStaffHub</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
        {% if not user.is_authenticated %}
            {% url 'login' as url %}
          <a class="nav-link {% if request.path == url %} active" {% endif %} aria-current="page" href="{% url 'login' %}">Login</a>
        </li>
        <li class="nav-item">
            {% url 'register' as url %}
          <a class="nav-link {% if request.path == url %} active" {% endif %} aria-current="page" href="{% url 'register' %}">Register</a>
            <li class="nav-item">
            {% url 'register-company' as url %}
          <a class="nav-link {% if request.path == url %} active" {% endif %} aria-current="page" href="{% url 'register-company' %}">Register Company</a>
        {% endif %}
        {% if user.is_authenticated %}
            <li>
            {% url 'dashboard' as url %}
            <a class="nav-link {% if request.path == url %} active" {% endif %} aria-current="page" href="{% url 'dashboard' %}">Profile</a>
            </li>
            {% url 'candidate-default' as url %}
            <a class="nav-link {% if request.path == url %} active" {% endif %} aria-current="page" href="{% url 'candidate-default' %}">Canditate</a>
            </li>
            {% url 'logout' as url %}
          <a class="nav-link {% if request.path == url %} active" {% endif %} aria-current="page" href="{% url 'logout' %}">Logout</a>
        {% endif %}
        </li>
      </ul>
    </div>
  </div>
</nav>
