{% extends "landing/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <style>
        #content {
            margin: 20px;
            padding: 20px;
            text-align: center;
        }

        .info-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            align-items: flex-start;
        }

        .info-box {
            flex: 1;
            max-width: calc(25% - 20px);
            background-color: #f4f4f6;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .btn-info {
            width: 300px;
        }

        .h3-special {
            color: #08879B;
        }

        .h4-special {
            color: #08879B;
        }
        .img-special {
            width: 100%;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    </style>
    <body>
        <div id="content">
            <div class="info-container">
                <div class="info-box">
                    {% if request.user.profile.interested_in and request.user.profile.department %}
                        <h3 class="h3-special">Latest job offers that are a perfect fit for you:</h3>
                    {% else %}
                        <h3 class="h3-special">Latest job offers:</h3>
                    {% endif %}
                    {% if newest_entries %}
                        {% for entry in newest_entries %}
                            <p>
                                <a class="btn btn-info" href="{% url 'job-offer-detail' entry.id %}">{{ entry }}</a>
                            </p>
                        {% endfor %}
                    {% else %}
                        <small>Currently, there are no job offers that match your profile...</small>
                        <br>
                    {% endif %}
                    {% if request.user.profile.department %}
                        <br>
                        <h4 class="h4-special">Best match for your skills:</h4>
                        {% if newest_entries_department %}
                            {% for entry in newest_entries_department %}
                                <p>
                                    <a class="btn btn-info" href="{% url 'job-offer-detail' entry.id %}">{{ entry }}</a>
                                </p>
                            {% endfor %}
                        {% else %}
                            <small>Currently, there are no job offers that match your skills...</small>
                            <br>
                        {% endif %}
                    {% endif %}
                    {% if request.user.profile.interested_in %}
                        <br>
                        <h4 class="h4-special">You might like:</h4>
                        {% if newest_entries_field %}
                            {% for entry in newest_entries_field %}
                                <p>
                                    <a class="btn btn-info" href="{% url 'job-offer-detail' entry.id %}">{{ entry }}</a>
                                </p>
                            {% endfor %}
                        {% else %}
                            <small>Currently, there are no job offers in the field you are interested in...</small>
                            <br>
                        {% endif %}
                    {% endif %}
                    {% if not newest_entries and not newest_entries_department and not newest_entries_field %}
                        <br>
                        <h4 class="h4-special">New on CloudStaffHub:</h4>
                        {% if newest_entries_not_personalized %}
                            {% for entry in newest_entries_not_personalized %}
                                <p>
                                    <a class="btn btn-info" href="{% url 'job-offer-detail' entry.id %}">{{ entry }}</a>
                                </p>
                            {% endfor %}
                        {% else %}
                            <small>Currently, there are no new job offers...</small>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="info-box">
                    <div class="mb-4">
                        <h3 class="h3-special">Read new article about:</h3>
                        <h2 class="h3-special">{{ industry }}</h2>
                        {% if not article_industry == "Currently there are no articles..." %}
                            <p>{{ article_industry.title }}</p>
                        {% else %}
                            <small>{{ article_industry }}</small>
                        {% endif %}
                        {% if article_industry.description %}<small>{{ article_industry.description }}</small>{% endif %}
                    </div>
                    {% if not article_industry == "Currently there are no articles..." %}
                        <p>
                            <a class="btn btn-info" href="{{ article_industry.url }}">CONTINUE READING</a>
                        </p>
                    {% endif %}
                </div>
                <div class="info-box">
                    <div class="mb-4">
                        <h3 class="h3-special">You may find this interesting:</h3>
                        {% if not article_tips == "Currently there are no articles..." %}
                            <p>{{ article_tips.title }}</p>
                        {% else %}
                            <small>{{ article_tips }}</small>
                        {% endif %}
                        {% if article_tips.description %}<small>{{ article_tips.description }}</small>{% endif %}
                    </div>
                    {% if not article_tips == "Currently there are no articles..." %}
                        <p>
                            <a class="btn btn-info" href="{{ article_tips.url }}">CONTINUE READING</a>
                        </p>
                    {% endif %}
                </div>
                <div class="info-box">
                    <h3 class="h3-special">Learn more about {{ random_company.name }}:</h3>
                    <img src="{{ random_company.companyprofile.company_logo.url }}"
                         alt="Company Logo"
                         class="company_logo img-special">
                    {% if random_company.companyprofile.info %}<p>{{ random_company.companyprofile.info }}</p>{% endif %}
                </div>
            </div>
        </div>
    </body>
{% endblock content %}
