{% extends "landing/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
    {{ title }}
{% endblock title %}
{% block content %}
    <style>
        #content {
            margin: 20px;
            padding: 20px;
            text-align: center;
        }

        .info-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
            align-items: flex-start;
        }

        .info-box {
            flex: 1;
            max-width: calc(25% - 20px);
            background-color: #f4f4f6;
            padding: 20px;
            border: 1px solid #ddd;
            border-radius: 5px;
            box-sizing: border-box;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
        }

        .btn-info {
            width: 300px;
        }

        .h3-special {
            color: #08879B;
        }

    </style>
    <body>
        <div id="content">
            <div class="info-container">
                <div class="info-box">
                    <div class="d-flex justify-content-center mb-2">
                        <h3 class="h3-special">Manager's tools:</h3>
                    </div>
                    <div class="mb-4">
                        <h5 class="h3-special">Questionnaires:</h5>
                        <p>
                            <a class="btn btn-info" href="{% url 'questionnaire-create' %}">Create New Questionnaire</a>
                        </p>
                        <p>
                            <a class="btn btn-info" href="{% url 'questionnaire-list' %}">Manage Questionnaires</a>
                        </p>
                        <h5 class="h3-special">Evaluations:</h5>
                        <p>
                            <a class="btn btn-info" href="{% url 'evaluation-create' %}">Create New Evaluation</a>
                        </p>
                        <h5 class="h3-special">Polls:</h5>
                        <p>
                            <a class="btn btn-info" href="{% url 'poll-create' %}">Create New Poll</a>
                        </p>
                        <p>
                            <a class="btn btn-info" href="{% url 'poll-list' %}?status=on">Manage Polls</a>
                        </p>
                    </div>
                </div>
                <div class="info-box">
                    <div class="d-flex justify-content-center mb-2">
                        <h3 class="h3-special">Evaluations:</h3>
                    </div>
                    <div class="mb-4">
                        <h5 class="h3-special">Waiting for review:</h5>
                        {% if evaluations_count == 0 %}
                            <small>No evaluations...</small>
                        {% elif evaluations_count == 1 %}
                            <small>There is {{ evaluations_count }} employee waiting for your review.</small>
                            {% for evaluation in assigned_evaluations %}
                                <p class="mt-2">
                                    <a class="btn btn-info"
                                       href="{% url 'evaluation-detail' evaluation.id %}">{{ evaluation }}</a>
                                </p>
                            {% endfor %}
                        {% else %}
                            <small>There are {{ evaluations_count }} employees waiting for your review.</small>
                            {% for evaluation in assigned_evaluations %}
                                <p class="mt-2">
                                    <a class="btn btn-info"
                                       href="{% url 'evaluation-detail' evaluation.id %}">{{ evaluation }}</a>
                                </p>
                            {% endfor %}
                        {% endif %}
                        <div class="mt-2">
                            <h5 class="h3-special">Completed:</h5>
                            {% if completed_evaluations %}
                                {% for evaluation in completed_evaluations %}
                                    <p class="mt-0">
                                        <a class="btn btn-info"
                                           href="{% url "evaluation-complete" evaluation.id %}">{{ evaluation }}</a>
                                    </p>
                                {% endfor %}
                            {% else %}
                                <small>No evaluations...</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="info-box">
                    <div class="mb-2">
                        <h3 class="h3-special">Job Applications to review:</h3>
                    </div>
                    <div>
                        {% if number_of_applications == 1 %}
                            <small>There is {{ number_of_applications }} application that is waiting for review.</small>
                        {% elif number_of_applications > 1 %}
                            <small>There are {{ number_of_applications }} applications that are waiting for review.</small>
                        {% else %}
                            <small>No applications...</small>
                        {% endif %}
                        <p class="mt-2">
                            <a class="btn btn-info" href="{% url 'job-applications-review' %}">View</a>
                        </p>
                    </div>
                </div>
                <div class="info-box">
                    <div class="d-flex justify-content-center mb-2">
                        <h3 class="h3-special">How to use...</h3>
                    </div>
                    <h5 class="h3-special">Questionnaires:</h5>
                    <p>
                        <small>Questionnaires are templates of surveys, based on which you can later create evaluations and polls.</small>
                    </p>
                    <h5 class="h3-special">Evaluations:</h5>
                    <p>
                        <small>
                        Employee evaluations are questionnaires that you fill out together with the employee. When both sides answer the questions, an employee performance rating will appear with a comparison of answers. It may serve as an ideal basis for discussing the employee's development within the organization.</small>
                    </p>
                    <h5 class="h3-special">Polls:</h5>
                    <p>
                        <small>Polls are surveys that are available to all employees of your organization. After the survey is closed, employees' responses will be summarized. The results will be publicly accessible for all employees to view.</small>
                    </p>
                    <h5 class="h3-special">Job Applications:</h5>
                    <p>
                        <small>In the manager's tab, you only see the job applications that have been preselected by the recruiter and sent for further review.</small>
                    </p>
                </div>
            </div>
        </div>
    </body>
{% endblock content %}
